@use '../styles/breakpoints' as *;

/* AuthenticatedLayout Styles */

.authenticated-layout {
  min-height: 100vh;
}

.authenticated-content {
  min-height: 100vh;

  /* Offset content when side nav is visible */
  @include small-tablet-up {
    margin-left: 52px;
  }
}
